<html>
	<head>
		<title>Project Liger - Home</title>
	</head>
	<body>
		<h1>Welcome!</h1>
		<a href="http://localhost:<%= port%>/user">Sign In</a> <br>
		<a href="http://localhost:<%= port%>/userCreate">Sign Up</a>
	</body>
</html>