<html>
	<head>
		<title>Error</title>
	</head>
	<body>
		<h1>Error:</h1>
		<h3><%= error%><h3>
        <p>Please try authenticating again or use a different email account.</p>
		<a href="http://localhost:<%= port%>">Home</a>
	</body>
</html>