<html>
	<head>
		<title>Sign In</title>
	</head>
	<body>
		<form action="http://localhost:<%= port%>/signIn" method="POST">
			Username: <input type="text" name="username" value="calvinrboyce"> <br>
			Password: <input type="password" name="password" value="211211cb"> <br>
			<input type="submit" value="submit">
			</form>
	</body>
</html>