<html>
	<head>
		<title>Welcome</title>
	</head>
	<body>
		<h1>Welcome, <%= username %></h1>
		<h3>Settings:<h3>
		<a href="http://localhost:<%= port%>">Home</a>
		<a href="http://localhost:<%= port%>/connect">Connect Calendar</a>
	</body>
</html>