<html>
	<head>
		<title><%= settings.username%>'s Settings</title>
	</head>
	<body>
		<h1>Welcome, <%= settings.firstName%></h1>
		<h3>Settings:<h3>
		
		<a href="http://localhost:<%= port%>">Sign Out</a>
		
		<% if (!settings.nylasInfo.auth){ %>
			<a href="http://localhost:<%= port%>/connect">Connect Calendar</a>
		<%}%>
		
	</body>
</html>